{% extends 'layout.html' %}
{% block body %}

<h2>Workouts</h2>
{% for workout in all_workouts %}
        {{ workout.workout_title }}
        <br>
        {{ workout.date_created }}
        <br>
        <form action="{{ url_for('createworkout') }}">
            <input type=submit value="Workouts">
        </form>
        <form action="{{ url_for('update', id=workout.id) }}">
                <input type=submit value="Update">
        </form>
        <form action="{{ url_for('delete', id=workout.id) }}">
            <input type=submit value="Delete">
        </form>
        <br>
        <br>
{% endfor %}

<h2>Exercises</h2>
{% for exercise in all_exercises %}
        {{ exercise.exercise_title }}
        <br> 
        <form action="{{ url_for('update', id=exericise.id) }}">
            <input type=submit value="Update">
        </form>
        <form action="{{ url_for('create') }}">
            <input type=submit value="Exercises>
        </form>
        <br>
        <br>
{% endfor %}

{% endblock body %}

