{% extends 'layout.html' %}
{% block body %}

<h2>Workouts Added</h2>
{% for workout in all_workouts %}
        {{ workout.workout_title }}
        <br>
        {{ workout.exercises_title }}
        <br>
        {{ workout.repetitions }}
        <br>
        {{ workout.date_created }}
        <br><br>
        <form action="{{ url_for('create_exercise', id=workout.id) }}">
                <input type=submit value="Add Exercise">
        </form>
        <br>
        <form action="{{ url_for('update', id=workout.id) }}">
                <input type=submit value="Update">
        </form>
        <br>
        <form action="{{ url_for('delete', id=workout.id) }}">
            <input type=submit value="Delete">
        </form>
        <br>
{% endfor %}

{% endblock body %}